/* overall design (common features throughout the web page) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    /* This will stretch the container to use full viewport height */
    height: 100vh;
    /* This will make sure all direct children of the container are in a column */
    display: flex;
    flex-direction: column;
    /* These will align the children in the center along both axes */
    align-items: center;
  }
 
  /* quote styling portion */
  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Adjust this value to increase or decrease the space from the header */
    width: 80%; /* Adjust this value to increase or decrease the space between h2 and h3 */
    text-align: center; /* Adjust alignment of text */
  }

.quote h3{
    font-style: italic;
    color:#262626;
}
/* header styling portion */
.header {
    background-color: #262626;
    color: white;
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.header h1{
    font-size: 5em;
}
/* buttons styling portion */
.rps-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px; /* Adjust this to move the buttons lower */
}

button.rock, button.paper, button.scissors {
    height: 350px; /* Adjust this to change the button size */
    width: 350px; /* Adjust this to change the button size */
    border: none;
}

button.rock{
    background-image: url("./img/rock.png");
    background-size: cover;
    background-position: center;
    filter: brightness(200%);
} 

button.paper {
    background-image: url("./img/paper.png");
    background-size: cover;
    background-position: center;
    filter: brightness(200%);
}

button.scissors {
    background-image: url("./img/scissors.png");
    background-size: cover;
    background-position: center;
    filter: brightness(200%);
}
/* score board styling */
.score-board {
    display: flex;
    justify-content: space-around;
    width: 70%; /* Decrease this value if you want the scores closer to the center */
    font-size: 3em; /* Increase or decrease this value to adjust the text size */
    margin-top: 100px; /* Add some margin to move the score-board lower */
    color:#262626;
}

.score-board div{
    width: 70%;
    text-align: center;
}

/* footer styling */
footer{
    background-color: #262626;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}